.ingame-navbar{
    height: 120px;
}

.nav-item{
	margin-right: 3%;
}

.recentGame{
    margin-top: 8.5%;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.my-card{
    padding: 0;
}

.recentGame-container{
    padding-top: 280px;
}

.cata.new {
	background: #ff205f;
}

.cata.racing {
	background: #694eae;
}

.cata.adventure {
	background: #40abf5;
}

.cata {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	padding: 0;
	color: white;
	width: 15%;
	height: 6%;
	margin-left: 2%;
	margin-top: 2%;
}

.review-cover {
	margin: 0px !important;
	height: 200px !important;
	width: 300px !important;
}

.review-item2 {
	width: 300px !important;
	max-width: 300px !important;
}


.review-text{
	color: white;
	padding-right: 4%;
	padding-left: 4%;
}

.score {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	padding: 0;
	padding-top: 12px;
	color: white;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	margin-top: -25px;
	border-radius: 50%;
}
.score_list {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	padding: 0;
	padding-top: 12px;
	color: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.rating i {
	color: rgb(209, 4, 4);
}

.score.red {
	background:  rgb(209, 4, 4);
}

.score_list.red{
	background:  rgb(209, 4, 4);
}

.back{
	background-color: rgb(0, 0, 0);
}

.card{
	margin-right: 0;
}

.input{
	background-color: rgb(31, 31, 31);
	border: none;
	font-size: 16px;
}

input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}

/*----------------------
  CUSTOM SCROLLBAR
------------------------*/

.my-custom-scrollbar {
	position: relative;
	height: 648px;
	overflow: auto;
	direction:rtl;
}

.my-custom-scrollbar4 {
	position: relative;
	height: 800px;
	overflow: auto;
	direction:ltr;
}

.table-wrapper-scroll-y {
	display: block;
}

.inverse-scroll {
	direction:ltr;
}

#style-scroll::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: black;
}

#style-scroll::-webkit-scrollbar
{
    width: 12px;
    background-color: black;
}

#style-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(77,77,77);
  
}

#style-modal::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: rgb(51,51,51);;
}

#style-modal::-webkit-scrollbar
{
    width: 12px;
    background-color: rgb(51,51,51);
}

#style-modal::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(128,128,128);
  
}

.my-custom-scrollbar1 {
    position: relative;
    height: 200px;
    overflow: auto;
}

.my-custom-scrollbar2 {
    position: relative;
	height: 645px;
    overflow: auto;
}


.my-custom-scrollbar3 {
    position: relative;
	height: 700px;
    overflow: auto;
}

#style-13::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: rgb(51,51,51);
}

#style-13::-webkit-scrollbar
{
	width: 12px;
    background-color: rgb(77,77,77);
}

#style-13::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(128,128,128);
  
}

#style-h::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: rgb(51,51,51);
}

#style-h::-webkit-scrollbar
{
	height: 5px;
    background-color: rgb(77,77,77);
}

#style-h::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(128,128,128);
  
}


/*----------------------
  Footer top Section
------------------------*/

.footer-top-section {
	background-image: url("../img/pattern.png");
	background-repeat: repeat;
	padding: 72px 0;
}

.footer-top-section .container {
	position: relative;
}

.footer-top-bg {
	margin-top: -350px;
	margin-left: 50px;
}

.footer-logo img {
	margin-bottom: 35px;
}

.yasmany{
	font-size: 70px ; 
	width: 350px;
	color: rgb(209, 4, 4);
}

/* Cursor */
.click:hover {
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

/*----------------------- Preloader -----------------------*/

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

/* sticky */
.after{
	position: absolute;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }